/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');




body{
  width:auto ;
  height:auto ;
  overflow-x: hidden;
  background: transparent;
}

/* navbar styling */
.navbar-dark{
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    -webkit-transition: all .3s ease 0s;  
    font-size: 25px; 
    background-color: slategrey;
    padding: 10px;
}

.navbar-dark a{
    display: inline;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: red;
}



#section1 {
  padding-top:50px;
  width:100vw;
  height: 100vh;
  background-color: black;
  }

#section2 {
  padding-top:50px;
  width:100vw;
  height: 100vh;
  background-color: #101820FF;
 }

#section3 {
  padding-top:50px;
  width:100vw;

  background-color:#333D79FF; 
  box-sizing: border-box;
  }

#section4 {
  padding-top:50px;
  width:100vw;
  height:130vh;
  background-color: #33393b; 
  }

footer {
  padding-top:50px;
  background-color: black;
  color: snow;
  height:40vh;
}


/* custom scroll bar */



/* home section styling */
.max-width{
    max-width: 1300px;
    padding: 0 ;
    margin: auto;
}

.home{
    display: flex;  
    height: 100vh;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
  color: #b29700;
}

.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    color: #ffd700;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}

#h ,#d,{
    display: inline-block;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid ;
    transition: all 0.3s ease;
    cursor: pointer;
}

#h{
  background: #990011FF;
  color:#FCF6F5FF;
}

#h:hover{
    color: #E11584 ;
    background: none;
}

#d{
  background: #00203FFF;
  color: #ADEFD1FF;
}

#d:hover{
  color: #D6ED17FF;
  background: none;
}

/*about*/
article {
  color: #F2AA4CFF;
  margin-left: 10px;
  padding-top: 10px;
  max-width:100% ;
}

#section2 h1{
  color: #4169E1;
  font-family: 'Audiowide', cursive;;
}

/*skills*/

   .card {
      color: white;
      float: left;
      width: calc(25% - 20px);
      padding: 10px;
      border-radius: 10px;
      margin-left: 10px;
      margin-right: 10px;
      align-items: center;
   }
   
   .cardContainer:after {
      content: "";
      display: table;
      clear: both;
   }
   
   #section3 h1{
     font-family: 'Audiowide', cursive;
     color: #FDAC53;
   }

/*contact me*/

#section4 h1{
  font-family: 'Audiowide', cursive;
  color: #0072B5;
}


table {
  height: 50vh;
  background-color: transparent;
  margin-left: 10px;  
  font-weight: 700px;
}

tr{
color:#5F4B8DFF; 
} 

td{
  color:#E69A8DFF; 
}

form{
  height: 30vh;
  background-color: transparent;
  margin-left: 10px;
 }

input[type=text],input[type=email],input[type=phone] {
  padding: 12px 36px;
  margin: 8px 0;
  box-sizing: border-box;
}

label{
  color: #F16406;
  font-size: 20px;
}

.submit{
    display: inline-block;
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid ;
    transition: all 0.3s ease;
    cursor: pointer;
}

#fb {
   color:#3b5998 ;
   font-size: 30px;
}

#ins{
  color: #FD1D1D;
   font-size: 30px;
}

/*resposive section(these item not working in media css !!!)*/

@media only screen and (max-width: 555px) and (min-width: 205px) {
  #section4 {
    height: 200vh;
}
  #section3 p{
    font-size: 15px;
  }
}

@media only screen and (max-width: 1020px) and (min-width: 800px) {
  #section4 {
    height: 110vh;
}
}
