@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
  background-color: black;
}

.jumbotron{
  width:100%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #A9A9A9;
}

.card{
  width:90% ;
  margin: 20px;
  background-color: #111111;
  color: #6e6e73;
  font-family: 'heebo', sans-serif;
}

a{
  color: #6e6e73;
}

b{
  color: #ffffff;
  font-weight: 400;
}

.card-header{
  color:#c0c0c0;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
